<h1>Editing ups token</h1>

<%= render "form", ups_token: @ups_token %>

<br>

<div>
  <%= link_to "Show this ups token", @ups_token %> |
  <%= link_to "Back to ups tokens", ups_tokens_path %>
</div>
